body {
  margin: 0;
  background-color: lightsteelblue;
}
header {
  width: 100%;
  height: 30px auto;
  font-family: "OpenSansRegular", Arial, serif;
  font-size: 16px;
  background-color: #0B56A6;
  position: fixed;
  margin: 0;
  padding: 0;
}
nav.header_nav {
  width: 95%;
  height: 50px;
  margin: 0 auto;
  padding: auto 5%;
  display: flex;
  position: relative;
  background-color: #0B56A6;
  color: white;
  top: 0;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
nav.header_nav a {
  width: auto;
  text-align: center;
  color: white;
  padding: 3px 8px;
}
header div.vertical-line {
  width: 1px;
  height: 100%;
  background-color: white;
  margin-left: 10px;
  z-index: 1;
}
nav.header_nav > a:link, nav.header_nav > a:visited, nav#open-modal:link, nav#open-modal:visited {
  color: white;
  text-decoration: none;
}
nav.header_nav > a:active, nav.header_nav > a:hover, nav#open-modal:active, nav #open-modal:hover {
  color: white;
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid white;
}
nav a#button_eye {
  width: 20px;
  min-width: 20px;
  height: 20px;
  padding: 5px;
  margin-right: 20px;
}
nav a#contact_phone {
  min-width: 140px;
}
nav a#contact_phone:active, nav a#contact_phone:hover, nav a#button_eye:active, nav a#button_eye:hover {
  border: none;
}
nav div#open-modal {
  min-width: 153px;
  padding: 5px 15px;
}
nav div#open-modal a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1001px) {
  nav .only_mobile {
    display: none;
  }
  nav a.call-back {
    min-width: 160px;
  }
}
@media screen and (min-width: 621px) and (max-width: 1000px){
  nav.header_nav {
    width: auto;
    min-width: 290px;
    /*height: 50px;*/
    padding-right: 300px;
    font-size: 15px;
  }
  nav .only_desktop {
    display: none;
  }
  nav #contact_phone {
    position: absolute;
    right: 100px;
    height: 24px;
    border-left: 1px solid white;
    margin:0;
    padding: 13px;
    font-size: 19px;
    font-weight: 500;
  }
  nav a.call-back {
    position: absolute;
    right: 40px;
    height: 100%;
    padding-left: 15px;
    border-left: 1px solid white;
  }
  nav a.call-back img {
    height: 20px;
    width: 20px;
    margin-right: 15px;
    margin-top: 15px;
  }
  nav a#button_personal-cabinet {
    position: absolute;
    right: 0;
    height: 100%;
    padding-left: 10px;
    border-left: 1px solid white;
  }
  nav a#button_personal-cabinet img {
    height: 30px;
    width: 30px;
    right: 0;
    margin-top: 10px;
  }
  .accordion {
    position: relative;
  }
  .accordion > input {
    display: none;
  }
  .accordion > label {
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    width: auto;
    min-width: 45px;
    z-index: 9999;
  }
  .accordion > nav {
    display: none;
    padding: 3px;
    margin-top: 200px;
    border-radius: 5px
  }
  .accordion > nav > p {
    display: none;
    color: white;
    background-color: #0B56A6;
    margin: 2px;
    padding: 5pt 10pt 5pt 20pt;
    cursor: pointer;
    font: 14px;
    font-weight: 500;
    left: 5%
  }
  .accordion > label::after {
    content: url("images/icon/More_V.png");
  }
  .accordion > label {display: block;}
  .accordion > label:hover {color: white; text-decoration: none; border-radius: 20px; border: 1px solid white;}
  .accordion > input:checked ~ nav {display: block; background-color: #0B56A6}
  .accordion > input:checked ~ nav > *:focus, .accordion > input:checked ~ nav > *:hover {display: block; color: white; text-decoration: none; border-radius: 10px; border: 1px solid white;}
}
@media screen and (max-width: 620px) {
  .only_desktop, .over320px, .accordion {
    display: none;
  }
  nav.header_nav {
    width: 100%;
  }
  header div.vertical-line {
    display: none;
  }
  nav #contact_phone {
    position: relative;
    height: auto;
    margin:0;
    padding: 12px;
    font-size: 22px;
    font-weight: 500;
  }
  nav a.call-back {
    position: absolute;
    right: 40px;
    height: auto;
    padding-right: 10px;
  }
  nav a.call-back img {
    height: 20px;
    width: 20px;
    margin: 20px 15px 10px 15px ;
  }
  nav a#button_personal-cabinet {
    position: absolute;
    right: 0;
    height: auto;
    padding: 0 10px;
    border-left: 1px solid white;
  }
  nav a#button_personal-cabinet img {
    height: 30px;
    width: 30px;
    right: 0;
    margin-top: 10px;
  }
}