@font-face {
  font-family: "Foglihten";
  src: url("fonts/FoglihtenBlackPcs-fMac.otf");
}
body {
  margin: 0;
}
header {
  width: 100vw;
  height: 30px auto;
  padding-top: 10px;
  z-index: 9998;
}
nav.header_nav {
  width: 100%;
  margin: 0 auto;
  padding: auto 5vw;
  font: 2.2vw Arial, sans-serif;
  display: flex;
  position: fixed;
  background-color: white;
  top: 0;
  height: 80px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
}
nav.header_nav a {
  width: auto;
  min-width: 100px;
  text-align: center;
  color: black;
}
nav.header_nav a:link, nav.header_nav a:visited {
  color: #AD0E35;
  background-color: white;
  text-decoration: none;
  transition-duration: 1s;
}
nav.header_nav a:active, nav.header_nav a:hover {
  color: #F63765;
  text-decoration: none;
  transform: scale(1.1, 1.1) translateY(4px);
  transition-duration: 0.5s;
}
main {
  margin: 0;
}
.first_screen {
  background: no-repeat center url("images/background_general.jpg");
  background-position: top right;
  background-size: 70%;
  margin-top: 80px;
}
.first_screen > div {
  padding-top: 40px;
  margin-left: 40px;
  width: 50vw;
  height: 37vw;
}
.first_screen h1 {
  text-align: left;
  margin: 0;
  font: 7vw Foglihten;
  text-transform: uppercase;
}
#first_screen__textblock {
  font: 20pt Arial;
}

                                                /*Слайдер:*/
.box_title{
  position: relative;
  font: 36px Arial;
  letter-spacing: 2px;
  font-weight: 700;
  color: darkslategrey;
  left: 10vw;
  width: min-content;
  margin: 20px 0;
  margin-top: 10vw;
}
#slider_bl .wrapper{
  max-width:65em;
  margin:1em auto;
  position:relative
}
#slider_bl input{
  display:none
}
#slider_bl .inner{
  width:380%;
  line-height:0;
}
#slider_bl article{
  width:17%;
  float:left;
  left: 4%;
  position:relative;
}
#slider_bl article img{
  width:100%;
  height: 100%;
}
#slider_2__img {
  margin-left: 65%;
}
#slider_3__img {
  margin-top: 5%;
  margin-left: 120%;
  height: 100%;
}
#slider_bl .slider-prev-next-control{
  height:50px;
  position:absolute;
  top:50%;
  width:100%;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%)
}
#slider_bl .slider-prev-next-control label{
  display:none;
  width:40px;
  height:40px;
  border-radius:50%;
  background:#fff;
  opacity:.7
}
#slider_bl .slider-prev-next-control label:hover{
  opacity:1
}
#slider_bl .slider-dot-control{
  position:absolute;
  width:100%;
  bottom:0;
  text-align:center;
}
#slider_bl .slider-dot-control label{
  cursor:pointer;
  border-radius:5px;
  display:inline-block;
  width:10px;
  height:10px;
  background:#bbb;
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
  transition:all .3s
}
#slider_bl .slider-dot-control label:hover{
  background:#ccc;border-color:#777}

#slider_bl .slider-wrapper{
  width:100%;
  overflow:hidden;
  background:#fff;
  border-radius: 0;
  -webkit-transform:translateZ(0);
  -moz-transform:translateZ(0);
  -ms-transform:translateZ(0);
  -o-transform:translateZ(0);
  transform:translateZ(0);
  -webkit-transition:all .5s ease-out;
  -moz-transition:all .5s ease-out;
  transition:all .5s ease-out
}
#slider_bl .slider-wrapper .inner{
  -webkit-transform:translateZ(0);
  -moz-transform:translateZ(0);
  -ms-transform:translateZ(0);
  -o-transform:translateZ(0);
  transform:translateZ(0);
  -webkit-transition:all .8s cubic-bezier(.77,0,.175,1);
  -moz-transition:all .8s cubic-bezier(.77,0,.175,1);
  transition:all .8s cubic-bezier(.77,0,.175,1)
}
#slider_bl #slide_1:checked~.slider-prev-next-control label:nth-child(3)::after,
#slider_bl #slide_1:checked~.slider-prev-next-control label:nth-child(2)::after,
#slider_bl #slide_2:checked~.slider-prev-next-control label:nth-child(1)::after,
#slider_bl #slide_2:checked~.slider-prev-next-control label:nth-child(3)::after,
#slider_bl #slide_3:checked~.slider-prev-next-control label:nth-child(2)::after,
#slider_bl #slide_3:checked~.slider-prev-next-control label:nth-child(1)::after {
  font-family:FontAwesome;
  font-style:normal;
  font-weight:400;
  text-decoration:inherit;
  margin:0;
  line-height:38px;
  font-size:3em;
  display:block;
  color:#777;
  z-index: 20;
}
#slider_bl #slide_1:checked~.slider-prev-next-control label:nth-child(2)::after,
#slider_bl #slide_2:checked~.slider-prev-next-control label:nth-child(3)::after,
#slider_bl #slide_3:checked~.slider-prev-next-control label:nth-child(1)::after {
  content:"\f105";
  padding-left:15px;
  z-index: 20;
}
#slider_bl #slide_1:checked~.slider-prev-next-control label:nth-child(2),
#slider_bl #slide_2:checked~.slider-prev-next-control label:nth-child(3),
#slider_bl #slide_3:checked~.slider-prev-next-control label:nth-child(1) {
  display:block;
  float:right;
  margin-right:5px;
  z-index: 20;
}
#slider_bl #slide_1:checked~.slider-prev-next-control label:nth-child(3),
#slider_bl #slide_2:checked~.slider-prev-next-control label:nth-child(1),
#slider_bl #slide_3:checked~.slider-prev-next-control label:nth-child(2) {
  display:block;
  float:left;
  margin-left:5px;
  z-index: 20;
}
#slider_bl #slide_1:checked~.slider-prev-next-control label:nth-child(3)::after,
#slider_bl #slide_2:checked~.slider-prev-next-control label:nth-child(1)::after,
#slider_bl #slide_3:checked~.slider-prev-next-control label:nth-child(2)::after {
  content:"\f104";
  padding-left:8px;
  z-index: 20;
}
#slider_bl #slide_1:checked~.slider-dot-control label:nth-child(1),
#slider_bl #slide_2:checked~.slider-dot-control label:nth-child(2),
#slider_bl #slide_3:checked~.slider-dot-control label:nth-child(3) {
  background:#333;
  z-index: 20;
}
#slider_bl #slide_1:checked~.slider-wrapper article:nth-child(1) .info,
#slider_bl #slide_2:checked~.slider-wrapper article:nth-child(2) .info,
#slider_bl #slide_3:checked~.slider-wrapper article:nth-child(3) .info {
  opacity:1;
  z-index: 20;
}
#slider_bl #slide_1:checked~.slider-wrapper .inner{
  margin-left:0;
  z-index: 20;
}
#slider_bl #slide_2:checked~.slider-wrapper .inner{
  margin-left:-100%;
  z-index: 20;
}
#slider_bl #slide_3:checked~.slider-wrapper .inner{
  margin-left:-200%;
  z-index: 20;
}

                                                     /*Карточки:*/
.cards #cd_slider_bl .wrapper{
  max-width:65em;
  margin:1em auto;
  position:relative
}
.cards #cd_slider_bl input{
  display:none
}
.cards #cd_slider_bl .inner{
  width: auto;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.cards #cd_slider_bl article{
  width: 25vw;
  min-width:200px;
  float:left;
  margin: 20px;
  margin-bottom: 50px;
  text-align: center;
  height: auto;
  background-color: rgb(250,250,250);
  align-content: center;
  padding-bottom: 20px;
}
.cards .product_card img{
  width:100%;
  position: relative;
}
.cards .content__text__title {
  font-weight: 700;
  font-size: 16pt;
  margin: 5px 10px;
  margin-bottom: 20px;
}
.cards .content__text__description {
  text-align: justify;
  margin: 5px 10px;
  margin-bottom: 30px;
}
.cards .card__button {
  text-align: center;
}
.cards #cd_slider_bl .slider-prev-next-control{
  height:50px;
  position:absolute;
  top:0;
  right: 5%;
  width:20%;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%)
}
.cards #cd_slider_bl .slider-prev-next-control label{
  display:none;
  width:40px;
  height:40px;
  border-radius:50%;
  background:#fff;
  opacity:.7
}
.cards #cd_slider_bl .slider-prev-next-control label:hover{
  opacity:1
}
.cards #cd_slider_bl .slider-dot-control{
  position:absolute;
  width:100%;
  bottom:0;
  text-align:center;
}
.cards #cd_slider_bl .slider-dot-control label{
  cursor:pointer;
  border-radius:5px;
  display:inline-block;
  width:10px;
  height:10px;
  background:#bbb;
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
  transition:all .3s;
}
.cards #cd_slider_bl .slider-dot-control label:hover{
  background:#ccc;border-color:#777
}
.cards #cd_slider_bl .slider-wrapper{
  width:100%;
  overflow:hidden;
  background:#fff;
  border-radius: 0;
  -webkit-transform:translateZ(0);
  -moz-transform:translateZ(0);
  -ms-transform:translateZ(0);
  -o-transform:translateZ(0);
  transform:translateZ(0);
  -webkit-transition:all .5s ease-out;
  -moz-transition:all .5s ease-out;
  transition:all .5s ease-out
}
.cards #cd_slider_bl .slider-wrapper .inner{
  -webkit-transform:translateZ(0);
  -moz-transform:translateZ(0);
  -ms-transform:translateZ(0);
  -o-transform:translateZ(0);
  transform:translateZ(0);
  -webkit-transition:all .8s cubic-bezier(.77,0,.175,1);
  -moz-transition:all .8s cubic-bezier(.77,0,.175,1);
  transition:all .8s cubic-bezier(.77,0,.175,1)
}
.cards #cd_slider_bl #cd_slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
.cards #cd_slider_bl #cd_slide1:checked~.slider-prev-next-control label:nth-child(3)::after,
.cards #cd_slider_bl #cd_slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
.cards #cd_slider_bl #cd_slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
.cards #cd_slider_bl #cd_slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
.cards #cd_slider_bl #cd_slide3:checked~.slider-prev-next-control label:nth-child(1)::after {
  font-family:FontAwesome;
  font-style:normal;
  font-weight:400;
  text-decoration:inherit;
  margin:0;
  line-height:38px;
  font-size:3em;
  display:block;
  color:#777;
}
#cd_slider_bl #cd_slide1:checked~.slider-prev-next-control label:nth-child(2)::after,
#cd_slider_bl #cd_slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
#cd_slider_bl #cd_slide3:checked~.slider-prev-next-control label:nth-child(1)::after {
  content:"\f105";
  padding-left:15px
}
#cd_slider_bl #cd_slide1:checked~.slider-prev-next-control label:nth-child(2),
#cd_slider_bl #cd_slide2:checked~.slider-prev-next-control label:nth-child(3),
#cd_slider_bl #cd_slide3:checked~.slider-prev-next-control label:nth-child(1) {
  display:block;
  float:right;
  margin-right:5px
}
#cd_slider_bl #cd_slide1:checked~.slider-prev-next-control label:nth-child(3),
#cd_slider_bl #cd_slide2:checked~.slider-prev-next-control label:nth-child(1),
#cd_slider_bl #cd_slide3:checked~.slider-prev-next-control label:nth-child(2) {
  display:block;
  float:left;
  margin-left:5px
}
#cd_slider_bl #cd_slide1:checked~.slider-prev-next-control label:nth-child(3)::after,
#cd_slider_bl #cd_slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
#cd_slider_bl #cd_slide3:checked~.slider-prev-next-control label:nth-child(2)::after {
  content:"\f104";
  padding-left:8px
}
#cd_slider_bl #cd_slide1:checked~.slider-dot-control label:nth-child(1),
#cd_slider_bl #cd_slide2:checked~.slider-dot-control label:nth-child(2),
#cd_slider_bl #cd_slide3:checked~.slider-dot-control label:nth-child(3) {
  background:#333
}
#cd_slider_bl #cd_slide1:checked~.slider-wrapper article:nth-child(1) .info,
#cd_slider_bl #cd_slide2:checked~.slider-wrapper article:nth-child(2) .info,
#cd_slider_bl #cd_slide3:checked~.slider-wrapper article:nth-child(3) .info {
  opacity:1
}
.cards #cd_slider_bl #cd_slide1:checked~.slider-wrapper .inner{
  margin-left:0
}
.cards #cd_slider_bl #cd_slide2:checked~.slider-wrapper .inner{
  margin-left:-100%
}
.cards #cd_slider_bl #cd_slide3:checked~.slider-wrapper .inner{
  margin-left:-200%
}

                                                      /*Форма и Валидация*/
main .form {
  background-image: url("images/form_1.jpg"), url("images/form_2.jpg");
  width: 100%;
  height: auto;
  background-size: 47%, 50%;
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right top;
  padding: 40px 0;
  margin-top: 10vw;
}
.form_square {
  background-color: #fff;
  /*margin: 40px 40px;*/
  border-radius: 20px;
  padding: 26px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px #444;
  width: 400px;
  margin: auto;
}
.form #link_form {
  position: relative;
  font: 36px Arial;
  letter-spacing: 2px;
  font-weight: 700;
  color: darkslategrey;
}
.formblock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.formblock-interactive {
  width: 100%;
}
.star {
  margin-right: 6px;
  margin-top: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #787878;
}
.warning {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  color: #CB2424;
  opacity: 0;
}
.mail_block {
  margin-bottom: 4px;
  margin-top: 20px;
}
.textblock-label {
  margin-left: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #787878;
}
.formblock-textfield {
  width: 97%;
  padding: 3px 15px;
  background: #fff;
  border: 2px solid #787878;
  box-sizing: border-box;
  border-radius: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #787878;
}
.formblock-textfield::placeholder {
  color: #ccc;
  font-size: 19px;
}
.checkbox {
  position: relative;
  margin-top: 12px;
  display: flex;
}
.checkbox-raw {
  display: flex;
  flex-direction: row;
}
.checkbox-wrapped {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 0;
  margin: 0;
  z-index: 10;
}
.checkbox-label {
  display: flex;
  align-items: center;
  height: 24px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #787878;
}
.link {
  color: #787878;
}
.checkbox-point {
  width: 24px;
  min-width: 24px;
  height: 24px;
  background: #fff;
  border: 2px solid #787878;
  box-sizing: border-box;
  border-radius: 7px;
  margin-right: 10px;
}
.checkbox-wrapped:checked + .checkbox-point::after {
  content: '✔';
  position: absolute;
  color: #787878;
  top: -2px;
  left: 18px;
  font-size: 20px;
  font-weight: bold;
  z-index: 1;
}
.button-container {
  display: flex;
  width: 100%;
  overflow: auto;
  margin:0 auto;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: space-around;
}
.registration_button {
  margin: 0 10px;
  min-width: 160px;
  border: 0;
  text-align: center;
  width: 30%;
  background: lightblue;
  border-radius: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 12px;
  color: gray;
  cursor: pointer;
  padding: 20px 0;
}

                                                              /*Список*/
.list {
  margin-top: 10vw;
}
.list .list__content_box {
  margin: 0 10vw;
  position: relative;
}
.list .accordion {
  position: relative;
  margin-bottom: 5px;
}
.list .accordion div div {margin-left: 89%}
.list .accordion > input {
  display: none;
}
.list .accordion > label {
  display: block;
  color: rgb(50,50,50);
  background-color: rgb(240,240,240);
  margin: 1px;
  padding: 10pt 0 10pt 20pt;
  cursor: pointer;
  font: 15pt Arial;
  letter-spacing: 2px;
  font-weight: 700;
  left: 5%;
}
.list .accordion > nav {
  display: none;
  padding: 3px;
}
.list .accordion > nav > p {
  display: block;
  color: black;
  background-color: rgb(240,240,240);
  margin: 1px;
  padding: 5pt 10pt 5pt 20pt;
  cursor: pointer;
  font: 12pt Arial;
  letter-spacing: 2px;
  font-weight: 500;
  left: 5%
}
.list .accordion > label {display: block; background-color: rgb(220,220,220)}
.list .accordion > label:hover {display: block; background-color: rgb(220,240,220)}
.list .accordion > input:checked ~ label {background-color: rgb(240,240,240); color: black}
.list .accordion > input:checked ~ nav {display: block; background-color: rgb(240,240,240)}
.list .accordion > input:checked ~ nav > *:focus, .list .accordion > input:checked ~ nav > *:hover {display: block; background-color: rgb(220,220,220)}

                                                    /*Модалка:*/

.mod .mod_window {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 9999;
  overflow: auto;
  position: fixed;
  visibility: hidden;
  background: rgba(14, 14, 14, 0.8);
  margin-top: -250px;
  transition: all .3s ease-in-out;
}
.mod .mod_window__center {
  width: 70%;
  max-width: 70%;
  background: #fff;
  margin: 70px auto;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.mod .mod_window__form{
  padding: 25px;
  text-align: center;
}
.mod h1 {
  margin: 0 0 10px 0;
  text-transform: uppercase;
  font-size: 24px;
}
.mod p {
  margin-bottom: 20px;
}
.mod a {
  padding: 5px 15px;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  background: #26265f;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
}
.mod .mod_window:target {
  opacity: 1;
  margin-top: 0;
  visibility: visible;
}
.modal_button {
  background-color: white;
  text-decoration: none;
  font: 14pt Arial;
  border: 1px solid black;
  width: 160px;
  height: 30px;
  margin: auto;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  color: #0D0D0D;
  transition-duration: 1s;
}
.modal_button a {
  text-decoration: none;
  color: black;
}
.modal_button:link, .modal_button:visited {
  transition-duration: 1s;
  background-color: #AD0E35;
}
.modal_button:active, .modal_button:hover {
  color: black;
  background-color: #F63765;
  box-shadow: 0px 0px 5px 5px  #F637654D;
);
  transition-duration: 0.5s;
}
footer {
  width: 98vw;
  bottom: 0;
  height: 90px;
  margin-top: 50px;
}
nav.footer_nav {
  width: 78vw;
  margin: 0 10vw;
  font: 18pt Arial, sans-serif;
  display: flex;
  left: 0;
  bottom: 0;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav.footer_nav a {
  min-width: 70px;
  text-align: center;
}
nav.footer_nav a:link, nav.footer_nav a:visited {
  color: rgb(80,80,80);
  background-color: white;
  text-decoration: none;
  transition-duration: 1s;
}
nav.footer_nav a:active, nav.footer_nav a:hover {
  color: black;
  text-decoration: none;
  transform: scale(1.2, 1.2) translateY(-4px);
  transition-duration: 0.5s;
}

@media screen and (min-width: 769px){
  .cards #cd_slider_bl input{
    display:none;
  }
  .cards #cd_slider_bl article{
    margin-bottom: 0;
  }
  .cards #cd_slider_bl .slider-prev-next-control{
    display: none;
  }
  .cards #cd_slider_bl .slider-prev-next-control label{
    display:none;
  }
  .cards #cd_slider_bl .slider-dot-control{
    display: none;
  }
  .cards #cd_slider_bl .slider-dot-control label{
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  body {
    background-color: white;
    width: auto;
  }
  header {
    width: auto;
    margin: 20px auto;
    max-width: 95%;
    height: auto;
    position: center;
  }
  nav.header_nav {
    width: auto;
    margin: auto;
    font: 3vw Arial, sans-serif;
    display: flex;
    flex-grow: 1;
    position: relative;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  nav.header_nav a {
    min-width: 60px;
    text-align: center;
    padding: auto;
  }
  nav.header_nav a:link, nav.header_nav a:visited {
    color: rgb(80, 80, 80);
    background-color: white;
    text-decoration: none;
    transition-duration: 1s;
  }
  nav.header_nav a:active, nav.header_nav a:hover {
    color: black;
    text-decoration: none;
    transform: scale(1.1, 1.1) translateY(4px);
    transition-duration: 0.5s;
  }
  main {
    width: 95%;
    margin: 0 auto;
  }
  .first_screen {
    background-size: 100vw;
    background-position: bottom;
    height: 85vw;
    margin-bottom: 150px;
  }
  .first_screen > div {
    width: 100%;
    height: 60vw;
    padding-top: 0;
  }
  .first_screen h1 {
    font-size: 12vw;
  }
  #first_screen__textblock {
    font: 5vw Arial;
    margin: 0;
    margin-top: 1vw;
  }
  .first_screen div button {
    margin: 0 auto;
    bottom: 0;
    margin-left: 3vw;
    margin-top: 54vw;
    height: 6vw;
    width: 25vw;
    font-size: 2.8vw;
  }
  /*Слайдер*/
  .box_title {
    font: 5vw Arial;
    font-weight: 500;
    left: 10vw;
    margin: 0;
  }
  #slider_bl {
    margin-bottom: 150px;
  }
  #slider_bl .wrapper {
    margin: 0 auto;
  }
  #slider_bl article {
    width: 25%;
    left: 0;
  }
  #slider_2__img {
    margin-left: 11vw;
  }
  #slider_3__img {
    margin-top: 5vw;
    margin-left: 18vw;
  }
  /*Карточки*/
  .cards #cd_slider_bl .inner{
    width: 300%;
    margin-top: 30px;
  }
  .cards #cd_slider_bl article{
    width: 72vw;
    min-width:200px;
    float:left;
    margin: 200px auto;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
  }
  .cards #cd_slider_bl .slider-prev-next-control{
    height:50px;
    right: 10%;
    width:30%;
  }
  /*Валидация*/
  .product_card {
    margin: 2vw;
    margin-top: 5vw;
  }
  .form_square {
    margin: 40px 15%;
    border-radius: 20px;
    padding: 26px 20px;
  }
  .form .form_square > form {
    width: 97%;
  }
  .registration_button {
    margin: 0 10px;
    min-width: 160px;
    font-size: 22px;
    padding: 20px 0;
  }
  /*Список*/
  .list .list__content_box {
    margin: 0;
  }
  /*Модалка:*/
  .mod .mod_window__center {
    width: 90%;
    max-width: 90%;
    height: 70%;
  }
  .mod .mod_window__form {
    padding: 25px;
  }
  .mod h1 {
    margin: 20px 0 40px 0;
    font-size: 6vw;
  }
  .mod p {
    margin-bottom: 40px;
    font-size: 3vw;
  }
  .mod a {
    font-size: 3vw;
  }
  /*Футер-Навигация*/
  footer {
    width: auto;
    margin: 20px auto;
    max-width: 95%;
    height: auto;
  }
  nav.footer_nav {
    width: auto;
    margin: auto;
    font: 3vw Arial, sans-serif;
    display: flex;
    flex-grow: 1;
    position: relative;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  nav.footer_nav a {
    min-width: 60px;
    text-align: center;
    padding: auto;
  }
  nav.footer_nav a:link, nav.header_nav a:visited {
    color: rgb(80, 80, 80);
    background-color: white;
    text-decoration: none;
    transition-duration: 1s;
  }
  nav.footer_nav a:active, nav.header_nav a:hover {
    color: black;
    text-decoration: none;
    transform: scale(1.1, 1.1) translateY(4px);
    transition-duration: 0.5s;
  }
}